{
	"endOfLine": "auto",
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"trailingComma": "all",
	"printWidth": 120,
	"arrowParens": "always",
	"overrides": [
		{
			"files": "**/*.hbs",
			"options": {
				"parser": "angular"
			}
		}
	]
}